<div class="limiter">
  <div class="container-login100 page-background">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-logo">
          <i class="zmdi zmdi-flower"></i>
        </span>
        <span class="login100-form-title p-b-34 p-t-27">
          Log in
        </span>
        <div class="wrap-input100 validate-input" data-validate="Enter username">
          <input class="input100" type="text" name="username" placeholder="Username">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="pass" placeholder="Password">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>
        <div class="contact100-form-checkbox">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            Remember me
          </label>
        </div>
        <div class="container-login100-form-btn">
          <button type="button" class="login100-form-btn" *ngIf="!user" (click)="loginGoogle()">
            Login
          </button>

          <button type="button" class="login100-form-btn" *ngIf="user" (click)="logout()">
            Logout
          </button>
        </div>
        <br>
        <div class="container-login100-form-btn">
          <button type="button" class="login100-form-btn" (click)="loginTwitter()">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Login with Twitter
          </button>
        </div>
        <br>
        <div class="container-login100-form-btn">
            <button type="buton" class="login100-form-btn" (click)="loginFacebook()">
                <i class="fa fa-facebook" aria-hidden="true"></i> 
                Login with Facebook
              </button>
        </div>
        <div class="text-center p-t-90">
          <a class="txt1" href="#">
            Forgot Password?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>




<!-- <h3>You are logged in As {{user?.displayName}}</h3>
<button *ngIf="!user" (click)="loginGoogle()">
  Google Login
</button>
<button *ngIf="user" (click)="logout()">
  Logout
</button> -->